# 第2章: UNIXコマンド

```{note}
表示の都合上, 出力行数を制限しています.
```

## 10. 行数のカウント
行数をカウントせよ. 確認にはwcコマンドを用いよ.

In [4]:
!wc -l popular-names.txt

2780 popular-names.txt

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ. 確認にはsedコマンド, trコマンド, もしくはexpandコマンドを用いよ.

In [2]:
!sed 's/\t/ /g' popular-names.txt 2>/dev/null | head -n 10

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

In [3]:
!tr '\t' ' ' < popular-names.txt 2>/dev/null | head -n 10

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

In [4]:
!expand -t 1 popular-names.txt 2>/dev/null | head -n 10

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに, 2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ. 確認にはcutコマンドを用いよ.

In [17]:
!cut -f 1 popular-names.txt > col1.txt && cut -f 2 popular-names.txt > col2.txt

In [5]:
!awk 'BEGIN {print "[Check]\ncol1.txt col2.txt\n"} {getline second < "col2.txt"; print $0, second}' col1.txt 2>/dev/null | head -n 10

[Check]
col1.txt col2.txt

Mary F
Anna F
Emma F
Elizabeth F
Minnie F
Margaret F
Ida F

## 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し, 元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ, 確認にはpasteコマンドを用いよ.

In [19]:
!paste col1.txt col2.txt > col1-2.txt

In [6]:
!awk 'BEGIN {print "[Check]\ncol1-2.txt\n"} {print $0}' col1-2.txt 2>/dev/null | head -n 10

[Check]
col1-2.txt

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F

## 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り, 入力のうち先頭のN行だけを表示せよ. 確認にはheadコマンドを用いよ.

`nhlines.sh`:

```bash
#!/bin/bash

if [ "$#" -ne 2 ]; then
    echo "Usage: $0 <number_of_lines> <file>"
    exit 1
fi

N=$1
file=$2

head -n "$N" "$file"
```

In [9]:
!chmod +x nhlines.sh
!./nhlines.sh 4 popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880

## 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り, 入力のうち末尾のN行だけを表示せよ. 確認にはtailコマンドを用いよ.

`ntlines.sh`:

```bash
#!/bin/bash

if [ "$#" -ne 2 ]; then
    echo "Usage: $0 <number_of_lines> <file>"
    exit 1
fi

N=$1
file=$2

tail -n "$N" "$file"
```

In [ ]:
!chmod +x ntlines.sh
!./ntlines.sh 4 popular-names.txt

Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

## 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り, 入力のファイルを行単位でN分割せよ. 同様の処理をsplitコマンドで実現せよ.

`nsplit.sh`:

```bash
#!/bin/bash

if [ "$#" -ne 3 ]; then
    echo "Usage: $0 <number_of_lines> <input_file> <output_file_prefix>"
    exit 1
fi

N=$1
input_file=$2
output_file_prefix=$3

split -l "$N" "$input_file" -d "$output_file_prefix"
```

In [ ]:
!chmod +x nsplit.sh
!./nsplit.sh 500 popular-names.txt popular-names-500ld-

In [13]:
!echo -e '[Check]\nls popular-names-500ld-*\n' && ls popular-names-500ld-*

[Check]
ls popular-names-500ld-*

popular-names-500ld-00	popular-names-500ld-02	popular-names-500ld-04
popular-names-500ld-01	popular-names-500ld-03	popular-names-500ld-05

## 17. １列目の文字列の異なり
1列目の文字列の種類 (異なる文字列の集合) を求めよ. 確認にはcut, sort, uniqコマンドを用いよ.

In [10]:
!cut -f 1 popular-names.txt | sort | uniq 2>/dev/null | head -n 10

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

## 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ (注意: 各行の内容は変更せずに並び替えよ).確認にはsortコマンドを用いよ (この問題はコマンドで実行した時の結果と合わなくてもよい).

In [7]:
!sort -k 3,3 -nr popular-names.txt 2>/dev/null | head -n 10

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め, その高い順に並べて表示せよ. 確認にはcut, uniq, sortコマンドを用いよ.

In [8]:
!cut -f 1 popular-names.txt | sort | uniq -c | sort -r 2>/dev/null | head -n 10

    118 James
    111 William
    108 Robert
    108 John
     92 Mary
     75 Charles
     74 Michael
     73 Elizabeth
     70 Joseph
     60 Margaret

```{tip}
- [wc](https://man7.org/linux/man-pages/man1/wc.1.html)
- [sed](https://man7.org/linux/man-pages/man1/sed.1.html)
- [tr](https://man7.org/linux/man-pages/man1/tr.1.html)
- [expand](https://man7.org/linux/man-pages/man1/expand.1.html)
- [cut](https://www.man7.org/linux/man-pages/man1/cut.1.html)
- [paste](https://man7.org/linux/man-pages/man1/paste.1.html)
- [head](https://man7.org/linux/man-pages/man1/head.1.html)
- [tail](https://man7.org/linux/man-pages/man1/tail.1.html)
- [split](https://man7.org/linux/man-pages/man1/split.1.html)
- [sort](https://www.man7.org/linux/man-pages/man1/sort.1.html)
- [uniq](https://man7.org/linux/man-pages/man1/uniq.1.html)
```